@import '~src/assets/styles/themes';

// @include bg-image('./images/test@3x.png');
// @include bg-image('./images/test@2x.jpg');
@mixin bg-image($url, $args...) {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: $args;

  $png: str-index($url, 'x.png');
  $jpg: str-index($url, 'x.jpg');
  @if $png or $jpg {
    @warn '测试';
  }
  @if $png {
    // 删掉 '@3x.png' 或者 '@2x.png' 再根据屏幕设置不同的背景
    background-image: url('#{str-slice($url, 0, $png - 3)}@2x.png');
    @media (min-resolution: 3dppx) {
      background-image: url('#{str-slice($url, 0, $png - 3)}@3x.png');
    }
  }

  @if $jpg {
    background-image: url('#{str-slice($url, 0, $jpg - 3)}@2x.jpg');
    @media (min-resolution: 3dppx) {
      background-image: url('#{str-slice($url, 0, $jpg - 3)}@3x.jpg');
    }
  }
}

// @include hairline(bottom, #dfdfdf, 0);
@mixin hairline($direction: all, $color: $border-color-base, $radius: 0) {
  @if $direction == all {
    border: 1px solid $color;
  } @else {
    border-#{$direction}: 1px solid $color;
  }

  html:not([data-scale]) & {
    position: relative;
    @media (min-resolution: 2dppx) {
      @if $direction == all {
        border: unset;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          display: block;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          border: 1px solid $color;
          border-radius: $radius * 2;
          content: '';
          transform: scale(0.5);
          transform-origin: 0 0;
          pointer-events: none;
        }
      } @else {
        border-#{$direction}: unset;

        &::before {
          position: absolute;
          z-index: 1;
          display: block;
          background-color: $color;
          content: '';
          transform-origin: 50% 50%;

          #{$direction}: 0;
        }
        &::before {
          @if $direction == top or $direction == bottom {
            left: 0;
            width: 100%;
            height: 1px;
            transform: scaleY(0.5);

            @media (min-resolution: 3dppx) {
              transform: scaleY(0.33);
            }
          } @else if $direction == right or $direction == left {
            top: 0;
            width: 1px;
            height: 100%;
            transform: scaleX(0.5);

            @media (min-resolution: 3dppx) {
              transform: scaleX(0.33);
            }
          }
        }
      }
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  min-width: 0; // flex: 1
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
@mixin clearfix {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    height: 0;
    content: '.';
  }
}
